artifacts
*.iml
.gradle
/local.properties
.DS_Store
/build
app/build/*
/captures
.externalNativeBuild
/reports
/fastlane/report.xml

*.lock

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
/.idea/*
/projectFilesBackup
